
$gray-light: #E9ECF3;
$gray-light-1: #b0b2b4;
$gray-dark: #888888;
$gray-dark-1: #5a5959;

$red-dark: #df1604;

$yellow: #FFDD00;
$yellow-dark: #fff08b;
$yellow-dark-1: #cfb400;

$white: white;
$green: green;
$red: red;