@font-face {
    font-family: "Prelo";
    src: url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.eot");
    src: url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.svg#Prelo Slab W04 Medium")format("svg");
}

* {
    font-family: "Prelo", sans-serif;
}