.custom-input {
  display: flex;
  flex-direction: column;
  width: 55%;

  .label-input {
    font-weight: 900;
    padding-bottom: 5px;
  }

  input {
    border-radius: $border-radius-input;
    border: 1px solid $gray-dark;
    min-width: 150px;
    width: 244px;
    height: 40px;
    text-indent: 10px;

    &:disabled {
      filter: opacity(0.5);
    }

    &::placeholder{
        color: $gray-dark;
    }
  }

  &:disabled+label {
    filter: opacity(0.5);
  }

  &.invalid {
    input{
        border: 1px solid $red-dark;
    }
  }

  .msg-input-error {
    color: $red-dark;
    padding-top: 5px;
    font-size: 12px;
  }
}

.row-input {
  display: flex;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}